<div class="main">
    <div class="container">
        <h1 class="pageheader">Blog</h1>
        <p class="pageheader text-gray">Click to open</p>
        <div class="headbtn">
            {{#if isLoggedIn}}
                <a href="/blog/new" class="btn2">Create article</a>
            {{/if}}
        </div>

        <div class="columns col-gapless">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each blog}}
                    <div class="column col-4 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <a href="/blog/article/{{bid}}" class="blog-card-link"> 
                            <div class=" blog-card">
                                <div class="card-image">
                                    <img class="img-responsive" src="{{bimgURL}}" alt="{{bimgURL}}"/>
                                </div>
                                <div class="card-header">
                                    <div class="card-title h3">{{bheader}}</div>
                                </div>
                                <div class="cardtext">
                                    <article>
                                        {{bshortdesc}}
                                    </article>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>