<div class="main">
    <div class="container">
        <h1 class="pageheader">Blog</h1>
        <p class="pageheader text-gray">Click to open</p>
        {{#if isLoggedIn}}
        <div>
            <a href="/blog/new" class="btn2">Write a Blog</a>
        </div>
        {{/if}}

        <div class="columns col-gapless">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each blog}}
                    <div class="column col-4 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <a href="/blog/article/{{bid}}" class="blog-card-link"> 
                            <div class="card">
                                <div class="card-image">
                                    <img class="img-responsive" src="{{bimgURL}}" alt="{{bimgURL}}"/>
                                </div>
                                <div class="card-header">
                                    <div class="card-title h3">{{bheader}}</div>
                                </div>
                                <div class="card-brief-desc">
                                    <article>
                                        {{bshortdesc}}
                                    </article>
                                </div>
                                <div >
                                    {{#if ../isAdmin}}
                                        <div class="card-footer">
                                            <a href="/blog/article/update/{{bid}}"class="modify-btn"> Modify </a>
                                            <a href="/blog/article/delete/{{bid}}"  class="delete-btn"> Delete </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>