<div class="main">
    <div class="container blogcontainer">
        <div class="fullblogmenu">
            <a href="/blog" class="btn1"> Back </a>
            {{#if isLoggedIn}}
                <a href="/blog/new" class="btn1"> Create Article </a>
                {{#if isAdmin}}
                    <a href="/blog/article/update/{{blog.bid}}" class="btn1"> Modify </a>
                    <a href="/blog/article/delete/{{blog.bid}}" class="important btn1"> Delete </a>
                {{/if}}
            {{/if}}
        </div>
        <div class="columns article">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                <div class="column column col-9 col-xl-9 col-lg-12 col-md-12 col-sm-12">
                        <div class="fullblog">
                            <div class="card-image">
                                <img class="img-responsive" src="{{blog.bimgURL}}" alt="{{blog.bimgURL}}"/>
                            </div>
                            <div class="blog-header">
                                <div class="blog-title h2">{{blog.bheader}} <br> </div>
                                <br>
                            </div>
                            <div class="blog-brief-desc">
                                <article>
                                    {{blog.bshortdesc}}
                                    <br>
                                </article>
                            </div>

                            <div class="blog-body">
                                <br>
                                <article>
                                    {{blog.bsecone}}
                                    <br>
                                </article>
                                <br>
                                <article>
                                    {{blog.bsectwo}}
                                    <br>
                                </article>
                                <br>
                                <article>
                                    {{blog.bsecthree}}
                                    <br>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
            {{/if}}
        </div>
    </div>
</div>