<div class="main">
    <div class="container">
        <h1>Blog</h1>

        {{#if isLoggedIn}}
        <div>
            <a href="/blog/new" class="btn btn-link">New Blog</a>
        </div>
        {{/if}}

        <div class="columns col-gapless">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                <div class="column col-12">
                        <div class="fullblog">
                            <div class="card-image">
                                <img class="img-responsive" src="{{blog.bimgURL}}" alt="{{blog.bimgURL}}"/>
                            </div>
                            <div class="blog-header">
                                <div class="blog-title h3">{{blog.bheader}} <br> </div>
                                <br>
                            </div>
                            <div class="blog-brief-desc">
                                <article>
                                    {{blog.bshortdesc}}
                                    <br>
                                </article>
                            </div>

                            <div class="blog-body">
                                <br>
                                <article>
                                    {{blog.bsecone}}
                                    <br>
                                </article>
                                <br>
                                <article>
                                    {{blog.bsectwo}}
                                    <br>
                                </article>
                                <br>
                                <article>
                                    {{blog.bsecthree}}
                                    <br>
                                </article>
                            </div>

                            <div class="blog-footer">
                                {{#if isAdmin}}
                                    <div>
                                        <a href="/blog/article/update/{{blog.bid}}"> Modify </a> - <a href="/blog/article/delete/{{blog.bid}}" class="important"> Delete </a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </a>
                </div>
            {{/if}}
        </div>
    </div>
</div>