<div class="main">
    <div class="container">
        <h1>Blog</h1>

        {{#if isLoggedIn}}
        <div>
            <a href="/blog/new" class="btn btn-link">New Blog</a>
        </div>
        {{/if}}

        <div class="columns col-gapless">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each blog}}
                    <div class="column col-1 col-md-4 col-sm-12">
                            <div class="fullblog">
                                <div class="card-image">
                                    <img class="img-responsive" src="{{bimgURL}}" alt="{{bimgURL}}"/>
                                </div>
                                <div class="blog-header">
                                    <div class="blog-title h3">{{bheader}}</div>
                                </div>
                                <div class="blog-brief-desc">
                                    <article>
                                        {{bshortdesc}}
                                    </article>
                                </div>

                                <div class="blog-body">
                                    <article>
                                        {{bsecone}}
                                        <br>
                                    </article>
                                    <article>
                                        {{bsectwo}}
                                        <br>
                                    </article>
                                    <article>
                                        {{bsecthree}}
                                        <br>
                                    </article>
                                </div>

                                <div class="blog-footer">
                                    {{#if ../isAdmin}}
                                        <div>
                                            <a href="/blog/update/{{pid}}"> Modify </a> - <a href="/blog/delete/{{pid}}" class="important"> Delete </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>