<div id="main">
    <div>
        <h1 class="pageheader">Modify Article</h1>
        <div>
            {{#if isLoggedIn}}
                <form action="/blog/article/update/{{blog.bid}}" method="post">
                    <div class="modifypage">
                        <fieldset class="modifyfield col-9 col-lg-11 col-md-11 col-sm-12">
                            <label for="blogheader">Article header: </label>
                            <input type="text" name="blogheader" id="blogheader" value="{{blog.bheader}}" required="required">
                            <br />
                            <label for="bshortdesc">Short description: </label>
                            <textarea class="textareadark" name="bshortdesc" id="bshortdesc" class="article-parag" cols="70" rows="4" required="required">{{blog.bshortdesc}}</textarea>
                            <br />
                            <label for="bsecone">First paragraph: </label>
                            <textarea class="textareadark" name="bsecone" id="bsecone" class="article-parag" cols="70" rows="8" required="required">{{blog.bsecone}}</textarea>
                            <br />
                            <label for="bsectwo">Second paragraph: </label>
                            <textarea class="textareadark" name="bsectwo" id="bsectwo" class="article-parag" cols="70" rows="8" required="required">{{blog.bsectwo}}</textarea>
                            <br />
                            <label for="bsecthree">Third paragraph: </label>
                            <textarea class="textareadark" name="bsecthree" id="bsecthree" class="article-parag" cols="70" rows="8" required="required">{{blog.bsecthree}}</textarea>
                            <br />
                            <label for="bimg">Article image URL: </label>
                            <input type="text" name="bimg" id="bimg" value="{{blog.bimgURL}}" required="required">
                            <br />
                        </fieldset>
                        <input class="btn3"  type="submit" value="Update Article">
                    </div>
                </form>
            {{else}}
                <p>
                    Sorry, you mustbe logged in to edit an article! <br>
                    please go to the <a href="/login">login</a> page
                </p>
            {{/if}}
        </div>
    </div>
</div>