<div class="main">
    <div class="container">
        <h1>My Projects</h1>

        {{#if isAdmin}}
        <div>
            <a href="/projects/new" class="btn btn-link">New project</a>
        </div>
        {{/if}}

        <div class="columns col-gapless">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each projects}}       
                    <div class="column col-4 col-md-6 col-sm-12">
                        <a href="{{github}}" class="blog-card-link" target="_blank">
                            <div class="card">
                                <div class="card-image">
                                    <img class="img-responsive" src="{{pimgURL}}" alt="{{pimgURL}}"/>
                                </div>
                                <div class="card-header">
                                    <div class="card-title h3">{{pname}}</div>
                                    <div class="card-subtitle text-gray">{{pyear}}   -   {{ptype}}</div>
                                </div>
                                <div class="card-brief-desc">
                                    <article>
                                        {{pdesc}}
                                        <br>
                                    </article>
                                </div>
                                <div class="card-tech-desc">
                                    <article>
                                        <br>
                                        {{ptechdesc}}
                                    </article>
                                </div>
                                <div class="card-footer">
                                    {{#if ../isAdmin}}
                                        <div>
                                            <a href="/projects/update/{{pid}}"> Modify </a> - <a href="/projects/delete/{{pid}}" class="important"> Delete </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    </div> 
                {{/each}}
            {{/if}}
        </div>
        <div class="comment-section">
            <div>
                <h2 id="comments-header">Comments</h2>
            </div>
            {{#each comments}} 
                <div class="comment">
                    <div class="commenter">
                        <h5>- {{username}}</h5>
                    </div>
                    <div class="comment-body">
                        {{cbody}}
                    </div>
                    <div class="comment-date text-gray" >
                        {{cdate}}
                    </div>
                </div>
            {{/each}}
            {{#if isLoggedIn}}
                <form action="/projects/addcomment" method="post">
                    <fieldset>
                        <div class="writing-comment-section">
                            <textarea name="commenttext" id="commenttext" cols="90" rows="3"></textarea>
                        </div>
                    </fieldset>
                    <input type="submit" value="Add comment">
                </form>
            {{/if}}
        </div>
    </div>
</div>