<div class="main">
    <div class="container">
        <h1 class="pageheader">My Projects</h1>
        <div class="headbtn">
            {{#if isAdmin}}
                <a href="/projects/new" class="btn2">New project</a>
            {{/if}}
        </div>
         {{#if isMoreThanOnePage}}
            <div class="page-div">
                <!--<a class="page-link" href="/projects/{{firstPage}}">First</a>-->
                <a class="page-link" href="/projects/{{prevPage}}">Prev</a>
                {{#each pages}}
                    <a class="{{#if_eq ../projectPage this}}active-link2{{else}}page-link{{/if_eq}}" href="/projects/{{this}}">{{this}}</a>
                {{/each}}
                <a class="page-link" href="/projects/{{nextPage}}">Next</a>
                <!--<a class="page-link" href="/projects/{{lastPage}}">Last</a>-->
            </div>
        {{/if}}
        <div class="columns">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each projects}}       
                    <div class=" flip-card column col-4 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        
                            <label for="flipCheckbox{{@index}}" class="flip-card">
                                <input type="checkbox" id="flipCheckbox{{@index}}" style="display: none;">
                                <div class=" flip-card-inner card ">
                                    <span class="flip-card-front">
                                        <p class="click-to-rotate">Click<br>to Rotate</p>
                                        <div class="card-image">
                                            <img class="img-responsive" src="{{pimgURL}}" alt="{{pimgURL}}"/>
                                        </div>
                                        <div class="card-header">
                                            <div class="card-title h3">{{pname}}</div>
                                            <div class="card-subtitle text-gray">{{pyear}}   -   {{ptype}}</div>
                                        </div>
                                        <div >
                                            <div class="card-brief-desc">
                                                <article>
                                                    {{pdesc}}
                                                    <br>
                                                </article>
                                            </div>
                                        </div>
                                    </span>
                                    <span class="flip-card-back">
                                        <div>
                                            <div class="card-title h4"><br>Technical Description</div>
                                            <article class="artic">
                                                <br>
                                                {{ptechdesc}}
                                            </article>
                                        </div>

                                        <div class="github-btn">
                                            <a href="{{github}}" class="gh-btn btn2" target="_blank">Open in GitHub</a>
                                        </div>
                                        <div>
                                            {{#if ../isAdmin}}
                                                <div class="card-footer">
                                                    <a href="/projects/update/{{pid}}" class="modify-btn"> Modify </a>
                                                    <a href="/projects/delete/{{pid}}" class="delete-btn" class="important"> Delete </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                        <p class="click-to-rotate-r">Click<br>to Rotate</p>
                                    </span>
                                </div>
                            </label>
                        
                    </div> 
                {{/each}}
            {{/if}}
        </div>
        {{#if isMoreThanOnePage}}
            <div id="page-div2">
                <!--<a class="page-link" href="/projects/{{firstPage}}">First</a>-->
                <a class="page-link" href="/projects/{{prevPage}}">Prev</a>
                {{#each pages}}
                    <a class="{{#if_eq ../projectPage this}}active-link2{{else}}page-link{{/if_eq}}" href="/projects/{{this}}">{{this}}</a>
                {{/each}}
                <a class="page-link" href="/projects/{{nextPage}}">Next</a>
                <!--<a class="page-link" href="/projects/{{lastPage}}">Last</a>-->
            </div>
        {{/if}}
        <div class="comments-border">
            <h2 id="comments-header">Comments:</h2>
        </div>
        
            <form action="/projects/addcomment" method="post">
                <div class="commentbox">
                    <fieldset>
                        <div class="writing-comment-section">
                            <textarea name="commenttext" class="textareadark" cols="90" rows="3"></textarea>
                        </div>
                    </fieldset>
                    <input class="submitbtn" type="submit" value="Add comment">
                </div>
            </form>
        
        <div class="comment-section">
            {{#each comments}} 
                <div class="comment">
                    <div class="comment-flex-row">
                        <div class="comment-flex-col">
                            <div class="commenter">
                                <h5>{{username}}</h5>
                            </div>
                            <div class="comment-body">
                                {{cbody}}
                            </div>
                            <div class="comment-date text-gray" >
                                {{cdate}}
                            </div>
                        </div>
                        <div>
                            {{#if ../isAdmin}}
                                <a class="delete-btn2" href="/comment/delete/{{this.cid}}">Delete</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
<!--
    <script>
        const nav = document.getElementById('page-div2')
            function adjustMenuVisibility() {
                if (window.innerWidth > 1281) {
                    nav.style.display = 'none';
                }
                else{
                    nav.style.display = 'flex';
                }   
            }
            window.addEventListener('resize', adjustMenuVisibility);
            adjustMenuVisibility();
    </script>
    -->
</div>