<div class="main">
    <div class="container">
        <h1 class="pageheader">My Projects</h1>
        <div class="headbtn">
            {{#if isAdmin}}
                <a href="/projects/new" class="btn2">New project</a>
            {{/if}}
        </div>
        <div class="columns">
            {{#if hasDatabaseError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>
            {{else}}
                {{#each projects}}       
                    <div class="column col-4 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <a href="{{github}}" class="blog-card-link" target="_blank">
                            <div class="card">
                                <div class="card-image">
                                    <img class="img-responsive" src="{{pimgURL}}" alt="{{pimgURL}}"/>
                                </div>
                                <div class="card-header">
                                    <div class="card-title h3">{{pname}}</div>
                                    <div class="card-subtitle text-gray">{{pyear}}   -   {{ptype}}</div>
                                </div>
                                <div class="cardtext">
                                    <div class="card-brief-desc">
                                        <article>
                                            {{pdesc}}
                                            <br>
                                        </article>
                                    </div>
                                    <div class="card-tech-desc">
                                        <article>
                                            <br>
                                            {{ptechdesc}}
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    {{#if ../isAdmin}}
                                        <div class="card-footer">
                                            <a href="/projects/update/{{pid}}" class="modify-btn"> Modify </a>
                                            <a href="/projects/delete/{{pid}}" class="delete-btn" class="important"> Delete </a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    </div> 
                {{/each}}
            {{/if}}
        </div>
        <div>
            <h2 id="comments-header">Comments:</h2>
        </div>
        {{#if isLoggedIn}}
            <form action="/projects/addcomment" method="post">
                <div class="commentbox">
                    <fieldset>
                        <div class="writing-comment-section">
                            <textarea name="commenttext" class="textareadark" cols="90" rows="3"></textarea>
                        </div>
                    </fieldset>
                    <input class="submitbtn" type="submit" value="Add comment">
                </div>
            </form>
        {{/if}}
        <div class="comment-section">
            {{#each comments}} 
                <div class="comment">
                    <div class="commenter">
                        <h5>{{username}}</h5>
                    </div>
                    <div class="comment-body">
                        {{cbody}}
                    </div>
                    <div class="comment-date text-gray" >
                        {{cdate}}
                    </div>
                </div>
            {{/each}}
        </div>

        
    </div>
</div>